/target
**/*.rs.bk
*.deb
*.dsc
*.tar.xz
*.buildinfo
*.changes
*.upload
*/debian/.debhelper
*/debian/*-stamp
*/debian/*.debhelper
*/debian/*.substvars
*/debian/*.log
*/debian/files
*/debian/*/
!*/debian/source
